/* Write your code here. */
.emoji-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 15px;
  background-color: #ffffff33;
  margin-top: 15px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  border: none;
}
li {
  list-style-type: none;
  flex-shrink: 0;
  height: 180px;
  width: 180px;
}
