/* Write your code here. */
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  min-height: 100vh;
  align-items: center;
}
.emoji-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}
