/* Write your code here. */
.win-lose-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff33;
  border-radius: 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 15px;
  align-self: center;
}
.win-lose-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.win-lose-image-style {
  width: 55%;
  margin-left: 25px;
}

.win-lose-card-You-Win-style {
  color: white;
  font-size: 48px;
  margin-bottom: 0px;
}
.win-lose-card-score-heading-style {
  color: white;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: bold;
}
.win-lose-card-score-style {
  color: #6a59ff;
  margin-top: 0px;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
}
.win-lose-card-button-style {
  background-color: #ffce27;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
  color: #3d3d3d;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
}
